# Xcode
*.xcuserdatad/
xcuserdata/
*.mode1v3
*.mode2v3
*.perspectivev3
DerivedData/
build/
*.ipa
*.xcarchive
*.dSYM
*.dSYM.zip

# macOS
.DS_Store

# CocoaPods
Pods/
!Podfile
!Podfile.lock

# SwiftPM / Carthage (если не нужны — оставьте)
.build/
Carthage/Build/

# Misc
*.tmp
*.swp
