# === Xcode & build artifacts ===
*.xcuserdatad/
xcuserdata/
*.mode1v3
*.mode2v3
*.perspectivev3
DerivedData/
build/
*.ipa
*.xcarchive
*.dSYM
*.dSYM.zip

# Если workspace генерится CocoaPods — не коммитим
*.xcworkspace

# === CocoaPods ===
Pods/
!Podfile
!Podfile.lock

# === SwiftPM / Carthage (если не используешь) ===
.build/
Carthage/Build/

# === macOS ===
.DS_Store

# === Editors (опционально) ===
.idea/
.vscode/

# === Temp files ===
*.tmp
*.swp
